<h1> Articles </h1>
<table border='1'>
	<tr>
		<td>ID</td>
		<td>Title</td>
		<td>Body</td>
		<td>Action</td>

	</tr>
	<% if @articles.any? %>
		<%  @articles.each do |article| %>
			<tr>
				<td><%= article.id %></td>
				<td><%= article.title %></td>
				<td><%= article.body %></td>
				<td><%= link_to 'Show', article_path(article) %>
					<%= link_to 'Edit', edit_article_path(article) %>
					<%= link_to 'delete', article_path(article), method: :delete, data: 
					{ confirm: 'Are you sure?' } %>
				</td>

			</tr>


		<% end %>
	<% end %>
	<%= link_to 'Create a new record', new_article_path %>
</table>